<!-- Rent Car Page -->

{% extends 'base.html' %} {% block title %} TaUz | Rent Car {% endblock %} {% load static %}
{% block content %}

<!-- <div class="rent-car-form-wrapper">
	<div class="form-title-wrapper">
		<p id="form-title">Fill in the form</p>
	</div>
	<div class="form-inputs-wrapper">
		<form method="POST" action="" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="input-fields">
				<input type="text" name="name" placeholder="Name" class="">
			</div>
			<div class="input-fields">
				<input type="text" name="price" placeholder="Price" class="">
			</div>
			<div class="input-fields">
				<input type="text" name="description" placeholder="Description" class="">
			</div>
			<div class="">
				<input type="image" name="image">
			</div>

	   		<div class="submit-button-wrapper">
	 			<input class="submit-button" type="submit" value="Submit">
	   		</div>
		</form>
	</div>
</div> -->

<div class="rent-car-form-wrapper">
	<div class="form-title-wrapper">
		<p id="form-title">Fill in the form</p>
	</div>
	<div class="form-inputs-wrapper">
		<div class="field-errors">
			{% if form.errors %}
				{% for field in form %}
					{% for error in field.errors %}
						<div class="alert alert-danger alert-message">
							{{ error|escape }}
						</div>
					{% endfor %}
				{% endfor %}
			{% endif %}
		</div>
		<form method="POST" action="" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="input-fields">{{ form.name }}</div>
			<div class="input-fields">{{ form.price }}</div>
			<div class="input-fields">{{ form.description }}</div>
			<div class="input-fields">{{ form.transmition }}</div>
			<div class="input-fields">{{ form.image }}</div>

			<div class="submit-button-wrapper">
				<input class="submit-button" type="submit" value="Submit">
			</div>
		</form>
	</div>
</div>

<!-- <form action="" method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	{{ form }}
	<input type="submit">
</form>
 -->
{% endblock %}