{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Web Page Title -->
	<title>{% block title %}{% endblock %}</title>

	<!-- Website Logo -->
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'pages/img/logo-simple.png' %}">

	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lexend:wght@300&family=Montserrat:ital,wght@0,400;0,700;1,200;1,600&family=Roboto+Mono:wght@100;200;300;500&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">

	<!-- Custom Stylesheet -->
	<link rel="stylesheet" type="text/css" href="{% static 'pages/css/base.css' %}">

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
	{% block content %}
	{% endblock %}

	<!-- Bootstrap JS -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

	<!-- Ionics.io Icons -->
	<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

	<!-- Custom JS files -->
	<script src="{% static 'pages/js/header-navbar-menu.js' %}"></script>

	<script>
		var form_fields = document.getElementsByTagName('input');

		if (form_fields.length == 4) {
			form_fields[1].placeholder = 'Username';
			form_fields[2].placeholder = 'Password';
		} else if (form_fields.length == 6) {
			form_fields[1].placeholder = 'Username';
			form_fields[2].placeholder = 'Email';
			form_fields[3].placeholder = 'Enter password';
			form_fields[4].placeholder = 'Re-enter Password';
		} else {
			form_fields[1].placeholder = 'Name';
			form_fields[2].placeholder = 'Price';
			form_fields[3].placeholder = 'Description';
			form_fields[4].placeholder = 'Transmition';
		}

		for (var field in form_fields) {
			form_fields[field].className += ' form-control';
		}

	</script>
</body>
</html>